{% extends 'base.html' %}
{% block content %}
<h2 class="mt-4 text-center text-muted">Register an account</h2>

{% if error %}
    <div class="alert alert-danger text-center" role="alert">
        {{error}}
    </div>
{% endif %}
<form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div>
        <div class="container mt-5">
            <div class="form-group">
                <label for="txtEmail">Email address</label>
                <input type="email" class="form-control" id="txtEmail" name="email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">Not using your email for anything nefarious, simply ensures uniqness 😉 </small>
            </div>
            <div class="form-group">
                <label for="txtPassword1">Password</label>
                <input type="password" class="form-control" id="txtPassword1" name="password1"/>
            </div>
            <div class="form-group">
                <label for="txtPassword2">Re-enter your password</label>
                <input type="password" class="form-control" id="txtPassword2" name="password2"/>
            </div>
            <div class="form-group">
                <input type="submit" class="form-control btn-secondary btn-sm" id="btnSubmit" value="Register" width="100px"/>
            </div>
        </div>
    </div>
    <div class="text-center">Already have an account? <a href="{% url 'login' %}">Login</a></div>
</form>
{% endblock %}